<div class="row" style="margin-top:1rem">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Personal information</h4>
                        <p>Name: Sand Stef</p>
                        <p>Email: sand@example.com</p>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#editPersonalDetails">
                            Update
                        </button>
                    </div>
                </div>
                <div class="card" style="margin-top:10px">
                    <div class="card-body">
                        <h4 class="card-title">Relatives</h4>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#editRelatives">
                            Update
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Address</h4>
                        <p>Street: Street Name 1</p>
                        <p>ZIP code: 1220</p>
                        <p>City: Sofia</p>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#updateAddress">
                            Upgrade
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
