@using Microsoft.AspNetCore.Components.Authorization

@page "/iam/students/{studentId:int}"

<AuthorizeView>
    <Authorized>
        <div>           
            <StudentDetailsHeader />
            <StudentDetailsBody />
        </div>
    </Authorized>   
</AuthorizeView>

@code {
    [Parameter]
    public int StudentId { get; set; }
}
