
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="text-center border-end">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" style="height:5rem; width:5rem; border-radius: 50%!important" alt="" />
                                    <h5 class="text-primary">@Student!.FirstName @Student!.LastName</h5>
                                    <h6 class="text-muted font-size-13 mb-0">Student</h6>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="ms-3">
                                    <div>
                                        <h4 class="card-title mb-2">Student information</h4>
                                        <p class="mb-0 text-muted">
                                            Some useful information about the student
                                        </p>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-12">
                                            <div class="d-flex align-content-start">
                                                <p class="text-muted mb-2 fw-medium" style="margin-right:10px">
                                                    <i class="mdi mdi-email-outline me-2"></i>@Student!.Email
                                                </p>
                                                <p class="text-muted fw-medium mb-0" style="margin-left:10px">
                                                    <i class="mdi mdi-phone-in-talk-outline me-2"></i>@PhoneNumber
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public SmartSchool.Web.Services.BffApiClient.StudentDetails? Student { get; set; }
    private string PhoneNumber => Student?.PhoneNumber ?? string.Empty;    
}
