<div class="row" style="margin-top:1rem">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Personal information</h4>
                        <p>Name: @Student!.FirstName @Student!.LastName</p>
                        <p>Email: @Student!.Email</p>
                        <p>Phone: @Student!.PhoneNumber</p>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#editPersonalDetails">
                            Update
                        </button>
                    </div>
                    <UpdatePersonalDetails />
                </div>
                <div class="card" style="margin-top:10px">
                    <div class="card-body">
                        <h4 class="card-title">Relatives</h4>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#editRelatives">
                            Update
                        </button>
                    </div>
                </div>                
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Address</h4>
                        <p>Street: @GetAddressAdnNumber()</p>
                        <p>City: @GetZipCodeAndCity()</p>                        
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-success btn-rounded" type="button" data-bs-toggle="modal" data-bs-target="#updateAddress">
                            Upgrade
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public SmartSchool.Web.Services.BffApiClient.StudentDetails? Student { get; set; }    

    private string GetAddressAdnNumber()
    {
        if (Student!.Address == null)
        {
            return string.Empty;

        }

        return $"{Student!.Address.Street} {Student!.Address.StreetNumber}";
    }

    private string GetZipCodeAndCity()
    {
        if (Student!.Address == null)
        {
            return string.Empty;

        }

        return $"{Student!.Address.City} {Student!.Address.PostalCode}";
    }
}
