@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using SmartSchool.Web.Services.BffApiClient

@inject NavigationManager navigation
@inject UserManager<IdentityUser> userManager
@inject IUserStore<IdentityUser> userStore;
@inject RoleManager<IdentityRole> roleManager;
@inject IBffApiClient apiClient;

<div class="modal fade" id="createStudentModal" tabindex="-1">
    <div class="modal-dialog modal-lg d-flex align-content-center justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    Add new student
                </h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="Input" OnValidSubmit="SubmitForm" FormName="createStudent">
                    <div class="row">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name:</label>
                            <InputText @bind-Value="Input.FirstName" class="form-control" id="firstName" placeholder="John"/>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name:</label>
                            <InputText @bind-Value="Input.LastName" class="form-control" id="lastName" placeholder="Doe" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <InputText @bind-Value="Input.Email" class="form-control" id="email" placeholder="email@example.com" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <InputText type="password" @bind-Value="Input.Password" class="form-control" id="password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="dob" class="form-label">Date of birth:</label>
                                <InputDate TValue="DateTime" @bind-Value="Input.DateOfBirth" class="form-control" id="dob"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    public StudentCreateViewModel Input { get; set; } = new();

    [Parameter]
    public EventCallback<StudentBasicInfo> OnStudentCreated { get; set; }

    private async Task SubmitForm()
    {
        var identity = await CreateIdentity(Input);

        var newStudent = new StudentCreate(identity.Id, Input.FirstName!, Input.LastName!, Input.Email!, Input.DateOfBirth);

        var createdStudent = await apiClient.CreateStudentAsync(newStudent);

        Input = new();

        await OnStudentCreated.InvokeAsync(createdStudent);
    }

    private async Task<IdentityUser> CreateIdentity(StudentCreateViewModel student)
    {
        var identity = new IdentityUser();
        var setUsernameResult = await userManager.SetUserNameAsync(identity, student.Email);

        var emailStore = (IUserEmailStore<IdentityUser>)userStore;
        await emailStore.SetEmailAsync(identity, student.Email, CancellationToken.None);

        var createdIdentity = await userManager.CreateAsync(identity, student.Password!);       

        var claims = new List<Claim>
        {
            new("firstName", student.FirstName!),
            new("lastName", student.LastName!)
        };

        await userManager.AddClaimsAsync(identity, claims);
         
        var studentRole = await roleManager.FindByNameAsync("Student");        

        await userManager.AddToRoleAsync(identity, studentRole!.Name!);

        return identity;
    }

    public class StudentCreateViewModel
    {
        [Required]
        public string? FirstName { get; set; }

        [Required]
        public string? LastName { get; set; }

        [Required]
        public string? Email { get; set; }

        [Required]
        public string? Password { get; set; }

        [Required]
        public DateTime DateOfBirth { get; set; }
    }    
}
