@page "/"
@inject MediatR.IMediator mediatr;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach(var people in peoples)
    {
        <li>@people.FirstName @people.LastName</li>
    }
</ul>

@code{

    List<PersonOutputModel>? peoples = null;

    protected override async Task OnInitializedAsync()
    {
        peoples = await mediatr.Send(new GetPersonsListQuery());
    }
}
